/* Copyright 2011–2018 elementary, Inc. (https://elementary.io)
*
* This file is part of the elementary GTK theme.
*
* The elementary GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The elementary GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the elementary GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/* Brand Colors */
@colorPrimary: @titlebar_color;
@colorAccent: @selected_bg_color;
@textColorPrimary: #e0e0e0;
@textColorPrimaryShadow: #2d2c2c;
@tab_base_color: #00ffff;

