/* Copyright 2011-2018 elementary, Inc. (https://elementary.io)
*
* This file is part of the elementary GTK theme.
*
* The elementary GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The elementary GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the elementary GTK theme. If not, see http://www.gnu.org/licenses/.
*/

@import url("palette.less");
@import url("brand-dark.less");
@import "syntax-variables";
/* Default color scheme */
@base_color: #34383c;
@bg_color: #34383c;
@bg_highlight_color: #393e43;
@border_color: #212327;
@fg_color: #00ffff;
@insensitive_color: #00ffff;
@inset_dark_color: #212327;
@inset_dark_color_backdrop: #00ffff;
@menu_separator: #00ffff;
@menu_separator_shadow: #00ffff;
@placeholder_text_color: #919396;
@selected_bg_color: #429ee8;
@selected_fg_color: #00ffff;
@text_color: #e0e0e0;
@text_shadow_color: #2d2c2c;
@titlebar_color: #34383c;
@title_color: #e0e0e0;
@title_shadow_color: #2d2c2c;
@tooltip_bg_color: #00ffff;
@tooltip_fg_color: #00ffff;
@decoration_border_color: #00ffff;
@internal_element_color: #00ffff;
@internal_element_prelight: 00ffff;
@internal_element_insensitive: 00ffff;
@view_symbolic_color: 00ffff;
@ideal_bg_color:#363a3f;

/* Colormap actually used by the theme, to be overridden in other css files */
@theme_bg_color: @bg_color;
@attention_color: @BLUEBERRY_500;
@link_color: @BLUEBERRY_500;
@warning_color: @BANANA_700;
@error_color: @STRAWBERRY_500;
@success_color: @LIME_500;
@insensitive_fg_color: @SILVER_500;

/* GTK NAMED COLORS */
@borders: @border_color;
@theme_fg_color: @fg_color;
@theme_text_color: @text_color;
@theme_bg_color: @bg_color;
@theme_base_color: @base_color;
@theme_selected_bg_color: @selected_bg_color;
@theme_selected_fg_color: @selected_fg_color;
@insensitive_fg_color: @insensitive_color;
